<ion-header>
  <ion-toolbar>
    <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Have an account?
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contents">
      <ion-title><h1>Verify Email</h1></ion-title>
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-item lines="none">Please check your email and click on the link to verfiy your email address.</ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
                Resend Verification Email
              </ion-button>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
