<ion-header>
  <ion-toolbar>
    <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contents">
    <ion-title><h1>Update Quote</h1></ion-title>
    <br>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Client Name</b></ion-label>
              <ion-input [(ngModel)]="data.ClientName" [ngModelOptions]="{standalone: true}"></ion-input>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.ClientName.errors?.required">
                Client Name is required.
              </span>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.ClientName.value.trim()">
                Client Name is invalid.
            </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Date</b></ion-label>
              <ion-input [(ngModel)]="data.Date" [ngModelOptions]="{standalone: true}"></ion-input>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Date.errors?.required">
                Date is required.
              </span>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.Date.value.trim()">
                Date is invalid.
            </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Description</b></ion-label>
              <ion-input [(ngModel)]="data.Description" [ngModelOptions]="{standalone: true}"></ion-input>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Description.errors?.required">
                Description is required.
              </span>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.Description.value.trim()">
                Description is invalid.
            </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Accepted</b></ion-label>
              <ion-input [(ngModel)]="data.Accepted" [ngModelOptions]="{standalone: true}"></ion-input>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Accepted.errors?.required">
                Accepted is required.
              </span>
              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.Accepted.value.trim()">
                Accepted is invalid.
            </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button expand="block" (click)="back()">Back</ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="submit" class="light-Btn" expand="block" (click)="updateQuote(this.id, this.data)">Update Quote</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>