<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/tabs/view/employee']">
                <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
            </ion-button>
            <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
                Log Out
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


    <ion-content>
    <div>
        <ion-img src="assets\icon\bmw-logo-2020-grey.png" style="width: 55vw;" class="bmw"></ion-img>
        <ion-title>Service Data</ion-title>
    </div>
    <div *ngFor = "let name of names">
    <h1>Team Name</h1>
    <h1>Service ID</h1>
</div>
    <div>{{name.TeamName}} {{name.ServiceID}}</div>

    <div *ngFor="let item of details">
        <table>
            <tr>
                <th>Service Items</th>
                <th>Part</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>{{item.serviceItems}}</td>
                <td>{{item.Part}}</td>
                <td>{{item.Quantity}}</td>
            </tr>
        </table>
    </ion-content> -->