<ion-header>
    <ion-toolbar>
      <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/tabs/view/client']">
          <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
        </ion-button>  
        <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
          Log Out
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="contents">
        <ion-title>
            <h1>Edit Assigned Part</h1>
        </ion-title>

        <form [formGroup]="editPartForm" (ngSubmit)="submitForm()" novalidate>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Part Name</b></ion-label>
                            <ion-input formControlName="partName" type="text" required></ion-input>
                        </ion-item>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.partName.errors?.required">
                            Part Name is required.
                        </span>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.partName.value.trim()">
                            Part Name is invalid.
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Part Type</b></ion-label>
                            <ion-select formControlName="partType" type="text" required>
                                <ion-select-option *ngFor="let item of partTypes">{{ item }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.partType.errors?.required">
                            Part Type is required.
                        </span>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.partType.value.trim()">
                            Part Type is invalid.
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Description</b></ion-label>
                            <ion-input formControlName="Description" type="text" required></ion-input>
                        </ion-item>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Description.errors?.required">
                            Description is required.
                        </span>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.Description.value.trim()">
                            Description is invalid.
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Part In Stock</b></ion-label>
                            <ion-input formControlName="partStock" type="text" required></ion-input>
                        </ion-item>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.partStock.errors?.required">
                            Part Availability is required.
                        </span>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.partStock.value.trim()">
                            Part Availability is invalid.
                        </span>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                    <ion-col>
                        <ion-button type="submit" expand="block">Submit</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>