<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/tabs/view/employee']">
                <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
            </ion-button>
            <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
                Log Out
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <form>
            <ion-card>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div style="padding-left: 4%; padding-right: 4%; padding-bottom: 15% ">
                                <ion-item lines="full">
                                    <h1 expand="full" fill="none" style="color: #002850; font-size: medium;">Update Password</h1>
                                </ion-item>
                                <br/>
                                <br/>
                                <ion-item lines="full">
                                    <ion-label position="floating ">New Password</ion-label>
                                    <ion-input type="password" #password required></ion-input>
                                </ion-item><br/>
                                <ion-item lines="full">
                                    <ion-label position="floating ">Confirm Password</ion-label>
                                    <ion-input type="password" #password required></ion-input>
                                </ion-item><br/>
                                <ion-button type="submit " expand="block " style="--background: #1976D2; ">Update</ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </form>
    </div>
</ion-content>