.contents{
    width: 40%;
    margin-top: 2vh;
    margin-left: 3vw;
  }
  
  h1{
    color: #002850;
    font-size: xx-large;
  }
  
  form{
    margin-top: -3vh;
  }
  
  .light-Btn{
    --background: #1976D2;
  }

  .green-Btn{
      --background: #5CB85C;
  }
  
  ion-label{
    font-size: large;
  }
  
  span{
    color: red;
    margin-top: 2vh;
    font-size: small;
    margin-left: 1.4vw;
  }