form { 
    width:30%; 
    margin: 2% auto;
}

.center{
    text-align: center;
}

ion-label{
    font-size: large;
}

span{
    color: red;
    margin-top: 2vh;
    font-size: small;
    margin-left: 1.4vw;
}