.collapsible {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #1976D2;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  width: 27%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5em 0 0 0;
}

.active, .collapsible:hover {
  background-color: #1561ac;
}

.content {
  display: none;
  position: fixed;
  bottom: 1.6rem; right: 0;
  z-index: 10;
  transition: max-height 0.2s ease-out;
}

.contents{
    width: 90%;
    height: 100%;
    margin-left: 3vw;
    margin-bottom: 0px !important;
  }
  
  h1{
    color: #002850;
    font-size: 1.8em !important;
  }

  h3{
    color: #002850;
  }

form {
    margin-top: -3vh;
}

.light-Btn {
    --background: #1976D2;
}

.green-Btn {
    --background: #5CB85C;
}

ion-label{
    font-size: 1.125em !important;
    margin-bottom: 0.5em !important;
  }

span {
    color: red;
    margin-top: 2vh;
    font-size: small;
    margin-left: 1.4vw;
}

.gauge{
    margin: 0.4em 20%;
}

.btns{
    width: 60%; 
    margin: auto; 
    margin-top: -1.7em !important;
}