<ion-header>
    <ion-toolbar>
      <a href="/tabs/home"><ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/tabs/view/client']">
          <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
        </ion-button>  
        <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
          Log Out
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid class="content">
        <ion-row>
            <ion-col>
                <h1>Welcome </h1>
            </ion-col>
            <ion-col>
                <ion-card style="margin-top: 3vh;">
                    <ion-row>
                        <ion-col>
                            <ion-icon name="construct"></ion-icon><ion-text></ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text>Role: </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text>Team Status: Active</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="content">
        <ion-row>
            <ion-col size="4">
                <ion-card>
                    <ion-item-divider>
                        <h3>Team</h3>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <p>A. Davis</p>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <p>J. Andille</p>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <p>B. Frode</p>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <p>P. Grand</p>
                        </ion-label>
                    </ion-item-divider>
                </ion-card>
            </ion-col>
            <ion-col size="4">
                <ion-card>
                    <ion-item-divider>
                        <h3>Team Peformance</h3>
                    </ion-item-divider>
                    <div id="gaugeArea"></div>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Description:</h3>
                            <ion-text>This metric is based on the feedback received from the clients about the service conducted.</ion-text>
                        </ion-label>
                    </ion-item-divider>
                </ion-card>
            </ion-col>
            <ion-col size="4">
                <ion-card>
                    <ion-item-divider>
                        <h3>Team Details</h3>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Team Name</h3>
                            <br>
                            <ion-text>B-ZAG-SN-02</ion-text>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Team Type</h3>
                            <br>
                            <ion-text>Fully Integrated</ion-text>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Dealership</h3>
                            <br>
                            <ion-text>BMW Sandton</ion-text>
                        </ion-label>
                    </ion-item-divider>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>