<ion-header>
    <ion-toolbar>
      <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/tabs/view/client']">
          <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
        </ion-button>  
        <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
          Log Out
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="contents">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-title><h1>{{ 'Welcome ' + team }}</h1></ion-title>
                </ion-col>
                <ion-col>
                    <ion-card style="margin-top: 4.5vh;">
                        <ion-row>
                            <ion-col>
                                <ion-icon name="construct"></ion-icon><ion-text></ion-text>
                            </ion-col>
                            <ion-col>
                                <ion-text>Role: </ion-text>
                            </ion-col>
                            <ion-col>
                                <ion-text>Team Status: </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-card>
                        <ion-item-divider>
                            <h3>Team</h3>
                        </ion-item-divider>
                        <ion-row style="margin-top: 0.5em;" *ngFor="let item of team">
                            <ion-col>
                                <ion-label>{{ item.fName.substring(0,1) + '. ' + item.lName }}</ion-label>
                            </ion-col>
                            <ion-col>{{ item.role }}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-button [routerLink]="['/tabs/create/team']">Add</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card>
                        <ion-item-divider>
                            <h3>Current Service</h3>
                        </ion-item-divider>
                        <ion-row>
                            <ion-col>
                                <ngx-gauge class="gauge" [type]="'semi'" 
                                        [value]="gaugeValue" 
                                        [label]="gaugeLabel"  
                                        [append]="gaugeAppendText"
                                        [thick]="10"
                                        [foregroundColor]="'#1976D2'"
                                        [animate]="true"
                                        [duration]="2000">
                                </ngx-gauge>
                            </ion-col>
                        </ion-row>
                        <div class="btns">
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block">Next Step <ion-icon name="arrow-forward" style="margin-left: 0.3em;"></ion-icon></ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block" class="light-Btn" style="margin-top: -0.4em;">Quote</ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button expand="block" class="light-Btn" style="margin-top: -0.4em;">Notes</ion-button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card>
                        <ion-item-divider>
                            <h3>Team Details</h3>
                        </ion-item-divider>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Team Name</ion-label>
                                    <ion-text>{{ team }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Team Type</ion-label>
                                    <ion-text>{{ team }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Dealership</ion-label>
                                    <ion-text>{{ team }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-button (click)="viewTeam(team)">View Team</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>