<ion-header>
    <ion-toolbar>
        <ion-title>Employee Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-contentclass="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Welcome to Mr J Andille</h1>
            </ion-col>
            <ion-col>
                <ion-item-divider>
                    <ion-label>
                        <p>
                            <ion-icon md="md-construct"></ion-icon>
                            5 Role: Team Status:
                        </p>
                    </ion-label>
                </ion-item-divider>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <h3>Team</h3>
            </ion-col>
            <ion-col>
                <h3>Team Peformance</h3>
                <div id="gaugeArea"></div>
            </ion-col>
            <ion-col>
                <h3>Team Details</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-content>