<ion-header>
    <ion-toolbar>
        <a href="/tabs/home">
            <ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
        </a>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/tabs/view/client']">
                <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
            </ion-button>
            <ion-button class="accBtn" (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
                Log Out
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contents">
        <ion-title>
            <h1>Dealership Details</h1>
        </ion-title>
        <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()"></ion-icon>

        <form form>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Dealership Name</b></ion-label>
                            <ion-input #dealershipName="ngModel" required [(ngModel)]="data.dealershipName" placeholder="Enter Dealership Name..."  [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                        <div *ngIf="dealershipName.invalid && (dealershipName.dirty || dealershipName.touched)" class="alert">
                            <span color="danger" style="padding-top: 2vh; " *ngIf="dealershipName.errors?.required">
                                Dealership Name is required.
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Address</b></ion-label>
                            <ion-input #address="ngModel" required [(ngModel)]="ad.address" placeholder="Enter Address..." [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
                            <span color="danger" style="padding-top: 2vh; " *ngIf="address.errors?.required">
                                Address is required.
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                    <ion-col>
                        <ion-button [routerLink]="['/tabs/create/service']" expand="block">Back</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="light-Btn" type="submit" [routerLink]="['/tabs/search/fleet']" (click)="createDealership()" expand="block">Submit</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <button type="button" class="collapsible">Help Chat
        <ion-icon id="up" style="float: right; margin-top: 0.2em;" name="chevron-up-outline">
        </ion-icon>
        <ion-icon id="down" style="float: right; display: none; margin-top: 0.2em;" name="chevron-down-outline"></ion-icon>
      </button>
      <div class="content">
        <iframe style="border: none;"
          allow="microphone;"
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/9a6d9339-edec-4934-869e-c563312600c3">
        </iframe>
      </div>
</ion-content>


<!------[(ngModel)]="data.addressID" [ngModelOptions]="{standalone: true}"   [formGroup]="assignDealershipForm"  novalidate (ngSubmit)="submitForm()" (click)="assignDealership()"  (click)="getValue()"    (ngSubmit)="submitForm()"-->


<!-- 



<ion-header>
    <ion-toolbar>
        <a href="/tabs/home">
            <ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
        </a>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/tabs/view/client']">
                <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
            </ion-button>
            <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
                Log Out
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contents">
        <ion-title>
            <h1>Dealership Details</h1>
        </ion-title>

        <form form>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Dealership Name</b></ion-label>
                            <ion-input [(ngModel)]="data.dealershipName" placeholder="Enter Dealership Name"  [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.dealershipName.errors?.required">
                            Dealership Name is required.
                        </span>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.dealershipName.value.trim()">
                            Dealership Name is invalid.
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Address</b></ion-label>
                            <ion-input [(ngModel)]="data.address" placeholder="Enter Address..." [ngModelOptions]="{standalone: true}"  ></ion-input>
                            <ion-input [(ngModel)]="ad.address1" placeholder="Enter Address" [ngModelOptions]="{standalone: true}"  ></ion-input>
                            <ion-input [(ngModel)]="data.address" placeholder="Enter Address" [ngModelOptions]="{standalone: true}"  ></ion-input>
                            <ion-input [(ngModel)]="data.address" placeholder="Enter Address..." [ngModelOptions]="{standalone: true}"  ></ion-input>
                            <ion-input [(ngModel)]="data.address" placeholder="Enter Address..." [ngModelOptions]="{standalone: true}"  ></ion-input>
                        </ion-item>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.address.errors?.required">
                            Address is required.
                        </span>
                        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.address.value.trim()">
                            Address is invalid.
                        </span>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                    <ion-col>
                        <ion-button [routerLink]="['/tabs/create/service']" expand="block">Back</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="light-Btn" type="submit" [routerLink]="['/tabs/search/fleet']" (click)="createDealership()" expand="block">Submit</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content> -->


<!------[(ngModel)]="data.addressID" [ngModelOptions]="{standalone: true}"   [formGroup]="assignDealershipForm"  novalidate (ngSubmit)="submitForm()" (click)="assignDealership()"  (click)="getValue()"    (ngSubmit)="submitForm()"-->