<form [formGroup]="addVehicleForm" (ngSubmit)="submitForm()" novalidate>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked"><b>Select Vehicle Checks to Be Performed</b></ion-label>
          <ion-checkbox formControlName="VINNum">Safety Systems</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Interior Lights</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Exterior Lights</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Windscreen Washer System And Fluids</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Tyres</ion-checkbox>
          <ion-checkbox formControlName="VINNum">BMW Mobility System</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Engine Coolant Checks</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Headlamp Exterior Condition And Functionality</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Steering Fluid Reservoir Oil Level</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Brake Lines And Connections</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Under Body Panelling</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Steering System</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Spark Plugs</ion-checkbox>
          <ion-checkbox formControlName="VINNum">Other</ion-checkbox>
        </ion-item>
        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.VINNum.errors?.required">
          VIN Number is required.
        </span>
        <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.VINNum.errors?.min || 
        errorControl.VINNum.errors?.max">
          VIN Number is invalid.
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
