<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img style="width: 9%; height: 9%; padding: 0.7rem;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-add" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button fill="solid"  style="--ion-color: #002850;">Have an account?</ion-button>  
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
