<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>
    Client Account
  </ion-title>


  <form>

    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input value="Mr" readonly></ion-input>
    </ion-item>
  
  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input value="Henri" readonly></ion-input>
  </ion-item>
  
  <ion-item >
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input value="davids" readonly></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-input value="083674673" readonly></ion-input>
  </ion-item>
  
  <ion-item >
    <ion-label position="stacked" >Email</ion-label> 
    <ion-input value="Henri@gmail.com" readonly></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input value="1224" readonly> </ion-input>
  </ion-item>
  
  </form>
  
  <ion-button color="primary" [routerLink]="['/tabs/password/reset']">Update Password</ion-button>
  
  
  <ion-button  color="primary" [routerLink]="['/tabs/view/client']">Submit</ion-button>
  
  
  
  <!--(click)="deleteClient(ClientList)"-->
  
  </ion-content>