<ion-header>

  <ion-toolbar>


    <ion-title color="blue">Update Account Details</ion-title>


  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-item>
    <ion-label>
      Title
    </ion-label>
    </ion-item>
    
  <ion-item>
    <ion-input type="text"  ></ion-input>
    </ion-item>

<ion-item>
  <ion-label>
    First Name
  </ion-label>
  </ion-item>
  
<ion-item>
  <ion-input type="text"  ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label class="ion-padding-top">
      Last Name
    </ion-label>
    </ion-item>
    
  <ion-item>
    <ion-input type="text"  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Phone number
      </ion-label>
      </ion-item>
      
    <ion-item>
      <ion-input type="text"  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Email Address
        </ion-label>
        </ion-item>
        
      <ion-item>
        <ion-input type="text"  ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            Address
          </ion-label>
          </ion-item>

        <ion-item>
          <ion-input type="text"  ></ion-input>
          </ion-item>

<ion-row>
<ion-col>
<button ion-button >
Update password
</button>
</ion-col>

<ion-col>
<button ion-button color="blue">
  submit
</button>
</ion-col>
</ion-row>


</ion-content>

