<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-item>
    <ion-label>
      Title
    </ion-label>
    </ion-item>
    
  <ion-item>
    <ion-input type="text"  ></ion-input>
    </ion-item>

<ion-item>
  <ion-label>
    First Name
  </ion-label>
  </ion-item>
  
<ion-item>
  <ion-input type="text"  ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label class="ion-padding-top">
      Last Name
    </ion-label>
    </ion-item>
    
  <ion-item>
    <ion-input type="text"  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Phone number
      </ion-label>
      </ion-item>
      
    <ion-item>
      <ion-input type="text"  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Email Address
        </ion-label>
        </ion-item>
        
      <ion-item>
        <ion-input type="text"  ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            Address
          </ion-label>
          </ion-item>

        <ion-item>
          <ion-input type="text"  ></ion-input>
          </ion-item>

<ion-row>
<ion-col>
<button ion-button >
Update password
</button>
</ion-col>

<ion-col>
<button ion-button color="blue">
  submit
</button>
</ion-col>
</ion-row>


</ion-content>

