<ion-header>
    <ion-toolbar>
        <ion-title>Client Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Welcome to Mr J. Donovan</h1>
            </ion-col>
            <ion-col>
                <ion-item-divider>
                    <ion-label>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-icon md="md-car"></ion-icon>
                                    <p>5</p>
                                </ion-col>
                                <ion-col>
                                    <p>#</p>
                                    <p>5</p>
                                </ion-col>
                                <ion-col>
                                    <ion-icon md="md-swap"></ion-icon>
                                    <p>50 000km</p>
                                </ion-col>
                                <ion-col>
                                    <p>Status</p>
                                    <p>Active</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-label>
                </ion-item-divider>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <h3>Fleet Health</h3>
                <div id="gaugeArea"></div>
            </ion-col>
            <ion-col>
                <ion-item-divider>
                    <ion-label>
                        <h3>Previous Service Summary</h3>
                    </ion-label>
                </ion-item-divider>
                <ion-item-divider>
                    <ion-label>
                        <p>Number of Vehicles:</p>
                        <p align="right">20</p>
                    </ion-label>
                </ion-item-divider>
                <ion-item-divider>
                    <ion-label>
                        <p>Service Type:</p>
                        <p align="right">10 000km</p>
                    </ion-label>
                </ion-item-divider>
                <ion-item-divider>
                    <ion-label>
                        <p>Service Date:</p>
                        <p align="right">2022/01/04</p>
                    </ion-label>
                </ion-item-divider>
                <ion-label>
                    <p>Service Price:</p>
                    <p align="right">R130 000.00</p>
                </ion-label>
            </ion-col>
            <ion-col>
                <ion-item-divider>
                    <ion-label>
                        <h3>Fleet Details</h3>
                    </ion-label>
                </ion-item-divider>
                <ion-item-divider>
                    <ion-label>
                        <p>Client Name</p>
                        <br/>
                        <p>Avis</p>
                    </ion-label>
                </ion-item-divider>
                <ion-item-divider>
                    <ion-label>
                        <p>Fleet Name</p>
                        <br/>
                        <p>Avis Sandton</p>
                    </ion-label>
                </ion-item-divider>
                <ion-label>
                    <p>Fleet Location</p>
                    <br/>
                    <p>Avis Sandton</p>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>