<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/tabs/view/client']">
                <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/tabs/login']" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
                Logout
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Welcome </h1>
            </ion-col>
            <ion-col>
                <ion-card style="margin-top: 3vh;">
                    <ion-row>
                        <ion-col>
                            <ion-icon name="construct"></ion-icon><ion-text></ion-text>
                        </ion-col>
                        <ion-col>
                        <ion-text>#</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text>km </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text>Status: Active</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-card>
                    <ion-item-divider>
                        <h3>Fleet Health</h3>
                    </ion-item-divider>
                    <div id="gaugeArea"></div>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Description:</h3>
                            <ion-text>This metric is based on the feedback received from the clients about the service conducted.</ion-text>
                        </ion-label>
                    </ion-item-divider>
                </ion-card>
            </ion-col>
            <ion-col size="4">
                <ion-card>
                    <ion-item-divider>
                        <h3>Previous Service Summary</h3>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Number of Vehicles:</h3>
                            <br>
                            <ion-text></ion-text>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Service Type:</h3>
                            <br>
                            <ion-text></ion-text>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Service Date:</h3>
                            <br>
                            <ion-text></ion-text>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Service Price:</h3>
                            <br>
                            <ion-text>R</ion-text>
                        </ion-label>
                    </ion-item-divider>
                </ion-card>
            </ion-col>
            <ion-col size="4">
                <ion-card>
                    <ion-item-divider>
                        <h3>Fleet Details</h3>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Client Name</h3>
                            <br>
                            <ion-text></ion-text>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Fleet Name</h3>
                            <br>
                            <ion-text></ion-text>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>
                            <h3>Fleet Location</h3>
                            <br>
                            <ion-text></ion-text>
                        </ion-label>
                    </ion-item-divider>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>