<ion-header>
    <ion-toolbar>
      <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/tabs/view/client']">
          <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
        </ion-button>  
        <ion-button class="accBtn" (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
          Log Out
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="contents">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-title><h1>{{ 'Welcome ' + client.name }}</h1></ion-title>
                </ion-col>
                <ion-col>
                    <ion-card style="margin-top: 3vh; float: right;">
                        <ion-row>
                            <ion-col>
                                <ion-button id="open-modal" expand="block">Service Process</ion-button>
                                <ion-modal trigger="open-modal">
                                    <ng-template>
                                      <ion-header>
                                        <ion-toolbar>
                                          <ion-title>Our Service Process</ion-title>
                                        </ion-toolbar>
                                      </ion-header>
                                      <ion-content class="ion-padding">
                                        <ion-item>
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/2Y6lfSlKIio" title="YouTube video player" 
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                                            gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </ion-item>
                                      </ion-content>
                                    </ng-template>
                                  </ion-modal>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-card>
                        <ion-item-divider>
                            <h3>Fleet Health</h3>
                        </ion-item-divider>
                        <ion-row>
                            <ion-col>
                                <ngx-gauge class="gauge" [type]="'semi'" 
                                        [value]="gaugeValue" 
                                        [label]="gaugeLabel"  
                                        [append]="gaugeAppendText"
                                        [thick]="10"
                                        [foregroundColor]="'#1976D2'"
                                        [animate]="true"
                                        [duration]="2000">
                                </ngx-gauge>
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-top: -2.5em;">
                            <ion-col>
                                <h3>Description:</h3>
                                <ion-text>This metric is based on the feedback received from <br/>the clients about the service conducted.</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card>
                        <ion-item-divider>
                            <h3>Previous Service Summary</h3>
                        </ion-item-divider>
                        <ion-row style="margin-top: 0.5em;">
                            <ion-col>
                                <ion-item>
                                    <ion-label>Number of Vehicles:</ion-label>
                                    <ion-text>{{ service.count }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>Service Type:</ion-label>
                                    <ion-text>{{ service.type }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>Service Date:</ion-label>
                                    <ion-text>{{ service.date }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>Service Price:</ion-label>
                                    <ion-text>{{ service.price }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card>
                        <ion-item-divider>
                            <h3>Fleet Details</h3>
                        </ion-item-divider>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Client Name</ion-label>
                                    <ion-text>{{ client.name }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Fleet Name</ion-label>
                                    <ion-text>{{ fleet.name }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Fleet Location</ion-label>
                                    <ion-text>{{ fleet.location }}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col></ion-col>
                            <ion-col></ion-col>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-button disabled="true" [routerLink]="['/tabs/create/fleet']">Add</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <button type="button" class="collapsible">Help Chat
        <ion-icon id="up" style="float: right; margin-top: 0.2em;" name="chevron-up-outline">
        </ion-icon>
        <ion-icon id="down" style="float: right; display: none; margin-top: 0.2em;" name="chevron-down-outline"></ion-icon>
      </button>
      <div class="content">
        <iframe style="border: none;"
          allow="microphone;"
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/9a6d9339-edec-4934-869e-c563312600c3">
        </iframe>
      </div>
</ion-content>