<ion-header [translucent]="true">
    <ion-toolbar>
        <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/tabs/view/client']">
                <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
            </ion-button>
            <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
                Log Out
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contents">
        <ion-title>
            <h1>Add Service Item</h1>
        </ion-title>

        <form [formGroup]="addItemForm" (ngSubmit)="submitForm()" novalidate>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked">Item Name</ion-label>
                            <ion-input [(ngModel)]="data.itemName" placeholder="Enter Item Name..." [ngModelOptions]="{standalone: true}"></ion-input>
                            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.itemName.errors?.required">
                                Item Name is required.
                              </span>
                              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.itemName.value.trim()">
                                Item Name is invalid.
                            </span>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked">Description</ion-label>
                            <ion-input [(ngModel)]="data.Description" placeholder="Enter Description..." [ngModelOptions]="{standalone: true}"></ion-input>
                            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.itemDescription.errors?.required">
                                Item Description is required.
                              </span>
                              <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.itemDescription.value.trim()">
                                Item Description is invalid.
                            </span>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                    <ion-col>
                      <ion-button type="submit" expand="block">Back</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button class="light-Btn" type="submit" expand="block">Submit</ion-button>
                    </ion-col>
                  </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>