<ion-header>
  <ion-toolbar>
    <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div class="contents">
    <ion-title><h1>Update Account Details</h1></ion-title>
  
    <form [formGroup]="updateEmployeeForm" (ngSubmit)="submitForm()" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Name</b></ion-label>
              <ion-input [(ngModel)]="data.fName" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.fName.errors?.required">
              First Name is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.fName.errors?.maxlength">
              First Name can't be longer than 20 characters.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.fName.value.trim()">
              First Name is invalid.
          </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Surname</b></ion-label>
              <ion-input [(ngModel)]="data.lName" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.lName.errors?.required">
              Surname is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.lName.errors?.maxlength">
              Surname can't be longer than 20 characters.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.lName.value.trim()">
              Surname is invalid.
          </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Phone Number</b></ion-label>
              <ion-input [(ngModel)]="data.phoneNum" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.phoneNum.errors?.required">
              Phone Number is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.phoneNum.errors?.maxlength || 
            errorControl.phoneNum.errors?.maxlength || !errorControl.Registration.value.trim()">
              Phone Number is invalid.
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Email Address</b></ion-label>
              <ion-input [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.email.errors?.required">
              Email is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.email.errors?.email || !errorControl.Registration.value.trim()">
              Invalid Email Address.
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Team Name</b></ion-label>
              <ion-input [(ngModel)]="data.teamName" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.teamName.errors?.required">
              Team Name is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.teamName.errors?.email || !errorControl.Registration.value.trim()">
              Invalid Team Name.
            </span>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button (click)="back()" expand="block">Back</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="light-Btn" [routerLink]="['/tabs/reset/password']" expand="block">Update Password</ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="submit" expand="block">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>