<ion-header>
  <ion-toolbar>
    <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <div class="contents">
    <ion-title><h1>Search Service</h1></ion-title>
    <ion-searchbar class="isb" placeholder="Search Service..." showCancelButton="focus" [(ngModel)]="searchTerm" animated></ion-searchbar><br/>
      <ion-grid class="ion-margin" class="ion-grid-padding">
        <ion-row>
          <ion-col>VIN Number</ion-col>
          <ion-col>Service Type</ion-col>
          <ion-col>Date</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row *ngFor="let item of serviceList | filter: searchTerm">
          <ion-col>
            <ion-label> {{item.VINNumber}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label> {{item.ServiceTypeName}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label> {{item.Date}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-button class="red-Btn" (click)="cancelService(this.item.id)">Cancel</ion-button>
            <ion-button class="light-Btn" [routerLink]="['/tabs/view/service', this.item.id]">View</ion-button>
          </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-grid>
  </div>
</ion-content>

