<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/employee']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>



    <ion-content>
      <div class="contents">
        <ion-title><h1>View Quote</h1></ion-title>
      <br>
        <form [formGroup]="QuoteForm" *ngFor="let item of QuoteList" >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="stacked"><b>Client Name</b></ion-label>
                  <ion-input >{{item.ClientName}}</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="stacked"><b>Date</b></ion-label>
                  <ion-input readonly>{{item.Date}}</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="stacked"><b>Description</b></ion-label>
                  <ion-input readonly>{{item.Description}}</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="stacked"><b>Accepted</b></ion-label>
                  <ion-input readonly>{{item.Accepted}}</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            
            <ion-row>
            <ion-col>
                <ion-button type="submit" class="main-Btn" expand="block" [routerLink]="['/tabs/home']" >Back</ion-button>
                </ion-col>
                <ion-col>               
                <ion-button class="light-Btn" expand="block"  [routerLink]="['/view-service-note']">View Service Note</ion-button>
              </ion-col>
              <ion-col>
                <ion-button type="submit" class="red-Btn" expand="block" [routerLink]="['/update/quote']">Update Quote</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </ion-content>
    