<ion-header>
    <ion-toolbar>
      <a href="/tabs/home"><ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/tabs/view/client']">
          <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
        </ion-button>  
        <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
          Log Out
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contents">
        <ion-title>
            <h1>Update Service</h1>
        </ion-title>
        <br>
        <form [formGroup]="serviceForm" (ngSubmit)="submitForm()" >
           <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label position="stacked"><b>Select Dealership</b></ion-label>
                        <ion-select formControlName="DealershipName" type="text" required>
                            <ion-select-option>Sandton</ion-select-option>
                            <ion-select-option>Midrand</ion-select-option>
                            <ion-select-option>Menlyn</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-item lines="full">
                      <ion-label position="stacked"><b>Select Team</b></ion-label>
                      <ion-select formControlName="TeamName" type="text" required>
                        <ion-select-option>BMST001</ion-select-option>
                        <ion-select-option>BMST002</ion-select-option>
                        <ion-select-option>BMST003</ion-select-option>
                        <ion-select-option>BMMR001</ion-select-option>
                        <ion-select-option>BMMR002</ion-select-option>
                        <ion-select-option>BMMR003</ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-col>
          </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked"><b>Service Type</b></ion-label>
                            <ion-select formControlName="ServiceTypeName" type="text" required>
                                <ion-select-option>Brake fluid flush overdue</ion-select-option>
                                <ion-select-option>Front brake pads due</ion-select-option>
                                <ion-select-option>Rear brake pads due</ion-select-option>
                                <ion-select-option>Micro filter due</ion-select-option>
                                <ion-select-option>Oil service</ion-select-option>
                                <ion-select-option>Service action</ion-select-option>
                                <ion-select-option>Vehicle check service due</ion-select-option>
                                <ion-select-option>Service overdue</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" expand="block">Update</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>