<ion-header>
  <ion-toolbar>
    <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contents">
    <ion-title><h1>Edit Vehicle Details</h1></ion-title>
  
    <form [formGroup]="editVehicleForm" (ngSubmit)="submitForm()" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>VIN Number</b></ion-label>
              <ion-input formControlName="VINNum" type="text" required></ion-input>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.VINNum.errors?.required">
              VIN Number is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.VINNum.errors?.min || 
            errorControl.VINNum.errors?.max || !errorControl.Registration.value.trim()">
              VIN Number is invalid.
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Vehicle Model</b></ion-label>
              <ion-select formControlName="vehicleModel" type="text" required>
                <ion-select-option *ngFor="let item of models">{{ item }}</ion-select-option>
              </ion-select>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.vehicleModel.errors?.required">
              Vehicle Model is required.
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Registration</b></ion-label>
              <ion-input formControlName="Registration" type="text" required></ion-input>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Registration.errors?.required">
              Registration is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && !errorControl.Registration.value.trim()">
              Registration is invalid.
          </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>Warranty Plan</b></ion-label>
              <ion-select formControlName="warrantyPlan" type="text" required>
                <ion-select-option *ngFor="let item of plans">{{ item }}</ion-select-option>
              </ion-select>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.warrantyPlan.errors?.required">
              Warranty Plan is required.
            </span>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button (click)="back()" expand="block">Back</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="light-Btn" type="submit" expand="block">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
