<ion-header>
  <ion-toolbar>
    <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="'authService.SignOut()'" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contents">
    <ion-title><h1>Post Service Inspection</h1></ion-title>
  
    <form [formGroup]="postServiceForm" (ngSubmit)="submitForm()" novalidate>
      <ion-grid>
        <ion-row *ngFor="let item of checks">
          <ion-col>
            <ion-item lines="full">
              <ion-label position="stacked"><b>{{ item }}</b></ion-label>
              <ion-textarea formControlName="check" type="text" placeholder="Check Feedback..." style="border: 1px solid rgb(70, 70, 70); border-radius: 0.2rem; padding: 0.1rem 0.5rem;" required></ion-textarea>
            </ion-item>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.check.errors?.required">
              This check is required.
            </span>
            <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.check.errors?.min || 
              errorControl.VINNum.errors?.max">
              This check is invalid.
            </span>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button type="submit" expand="block">Back</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="light-Btn" type="submit" style="margin-right: 1vw" expand="block">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>