<ion-header>
    <ion-toolbar>
      <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/tabs/view/client']">
          <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
        </ion-button>  
        <ion-button class="accBtn" (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
          Log Out
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="contents">
        <ion-title>
            <h1>Plan Details</h1>
        </ion-title>
        <form [formGroup]="planForm" (ngSubmit)="submitForm()" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="full">
                    <ion-label position="stacked"><b>Plan Name</b></ion-label>
                    <ion-input [(ngModel)]="data.PlanName" placeholder="Enter Plan Name..." [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.PlanName.errors?.required">
                    Plan Name is required.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.PlanName.errors?.min || 
                  errorControl.PlanName.errors?.max">
                    Plan Name is invalid.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.PlanName.errors?.cannotContainSpace">
                    Plan Name can not contain spaces.
                </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="full">
                    <ion-label position="stacked"><b>Description</b></ion-label>
                    <ion-input [(ngModel)]="data.Description" placeholder="Enter Description..." [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Description.errors?.required">
                    Description is required.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Description.errors?.min || 
                  errorControl.Description.errors?.max">
                    Description is invalid.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Description.errors?.cannotContainSpace">
                    Description can not contain spaces.
                </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="full">
                    <ion-label position="stacked"><b>Duration</b></ion-label>
                    <ion-input [(ngModel)]="data.Duration" placeholder="Enter Duration..." [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Duration.errors?.required">
                    Duration is required.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Duration.errors?.min || 
                  errorControl.Duration.errors?.max">
                    Duration is invalid.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Duration.errors?.cannotContainSpace">
                    Duration can not contain spaces.
                </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="full">
                    <ion-label position="stacked"><b>Price</b></ion-label>
                    <ion-input [(ngModel)]="data.Price" placeholder="Enter Price..." [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Price.errors?.required">
                    Price is required.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Price.errors?.min || 
                  errorControl.Price.errors?.max">
                    Price is invalid.
                  </span>
                  <span color="danger" style="padding-top: 2vh; " *ngIf="isSubmitted && errorControl.Price.errors?.cannotContainSpace">
                    Price can not contain spaces.
                </span>
                </ion-col>
              </ion-row>
              <br/>
              <ion-row>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <ion-button type="submit" expand="block">Back</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button type="submit" class="green-Btn" expand="block">Select Plan</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
    </div>
    <button type="button" class="collapsible">Help Chat
      <ion-icon id="up" style="float: right; margin-top: 0.2em;" name="chevron-up-outline">
      </ion-icon>
      <ion-icon id="down" style="float: right; display: none; margin-top: 0.2em;" name="chevron-down-outline"></ion-icon>
    </button>
    <div class="content">
      <iframe style="border: none;"
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/9a6d9339-edec-4934-869e-c563312600c3">
      </iframe>
    </div>
</ion-content>