
<!---form [formGroup]= "Clientpage" (ngSubmit)="logForm()">--->

<ion-header>

  <ion-toolbar>


    <ion-title color="blue">Account Details</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item >
    <ion-label>
      Title
    </ion-label>
    </ion-item>
    
  <ion-item *ngfor="let Client of eventList">
    <ion-input type="text" class="box" >{{Client.Title}}</ion-input>
    </ion-item>

<ion-item>
  <ion-label>
    First Name
  </ion-label>
  </ion-item>
  
<ion-item *ngfor="let Client of eventList">
  <ion-input type="text" class="box" >{{Client.FirstName}}</ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>
      Last Name
    </ion-label>
    </ion-item>
    
  <ion-item *ngfor="let Client of eventList">
    <ion-input type="text" class="box" >{{Client.LastName}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Phone number
      </ion-label>
      </ion-item>
      
    <ion-item *ngfor="let Client of eventList">
      <ion-input type="text"  class="box">{{Client.PhoneNumber}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Email Address
        </ion-label>
        </ion-item>
        
      <ion-item *ngfor="let Client of eventList">
        <ion-input type="text" class="box" >{{Client.Email}}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            Address
          </ion-label>
          </ion-item>

        <ion-item *ngfor="let Client of eventList">
          <ion-input type="text" class="box" >{{Client.Address}}</ion-input>
          </ion-item>




<div>

<ion-row>
<ion-col>
<button ion-button [routerLink]="['/tabs/Searchclientaccount']" >
Back
</button>
</ion-col>

<ion-col>
<button ion-button color="blue" [routerLink]="['/tabs/update-client']">
  Update Details
</button>
</ion-col>

<ion-col>
  <button ion-button (click)="deleteClient()" color="danger">
    Delete Details
</button>
</ion-col>
</ion-row>

</div>


</ion-content>

