<ion-header>
  <ion-toolbar>
    <ion-title>searchclientaccount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="search-form">
    <ion-content>
      <ion-card>
        <input type="text" id="searchBox" placeholder="Search...." name="searchField" />
          <ion-list>
            <ion-row>
    Client ID, Name, Phone, Email
            </ion-row>
            <ion-row>

     <button>View</button>
    <button>Remove</button> 
   </ion-row>
   </ion-list>
    </ion-card>
    </ion-content>
    </form>
    
    
</ion-content>
