<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/employee']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <div class="contents">
    <h1>Inspection Details</h1>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label></ion-label>
              <ion-textarea placeholder="Notes..." style="border: 1px solid rgb(46, 46, 46); border-radius: 0.3rem;"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button type="submit" expand="block" style="margin-right: 1rem;">Proceed</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content> 
