<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/create/account']">
        <ion-icon slot="icon-only" name="person-add" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button class="accBtn" [routerLink]="['/tabs/login']" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Have an account?
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-left: 3rem; margin-right: 3rem;">
    <ion-row style="margin-top: 10vh;">
      <ion-col class="ion-align-self-start">
        <ion-text>
          <h1 style="font-size: 12vh;">BMW ESM</h1>
          <p style="font-size: 5vh; margin-top: -1.5vh; padding-left: 0.3vw; color: #787878; line-height: 6vh;">Electronic<br/>Service Manual</p>
          <p style="font-size: 2.5vh; margin-top: -4vh; padding-left: 0.5vw;">Putting your service in your hands</p>
          <ion-button [routerLink]="['/tabs/search/service']" fill="solid" style="--background: #002850; --border-radius: 0.5em; padding: -1rem;
           margin-left: 0.5vw;  margin-top: -1vh" >
            Track Service
          </ion-button>
        </ion-text>
      </ion-col>
      <ion-col class="ion-align-self-end">
          <ion-img src="assets/images/homepage-bmw.png" style="width: 55vw;" class="bmw"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button type="button" class="collapsible">Help Chat
    <ion-icon id="up" style="float: right; margin-top: 0.2em;" name="chevron-up-outline">
    </ion-icon>
    <ion-icon id="down" style="float: right; display: none; margin-top: 0.2em;" name="chevron-down-outline"></ion-icon>
  </button>
  <div class="content">
    <iframe style="border: none;"
      allow="microphone;"
      width="350"
      height="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/9a6d9339-edec-4934-869e-c563312600c3">
    </iframe>
  </div>
</ion-content>
