<ion-header>
  <ion-toolbar>
    <ion-img style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/view/client']">
        <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
      </ion-button>  
      <ion-button (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
        Log Out
      </ion-button>  
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contents">
    <ion-title><h1>View Part Details</h1></ion-title>
  </div>
    <form [formGroup]="viewPartDetailsForm" novalidate>
      <ion-grid>
        <ion-row>
          <div class="contents">
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="stacked"><b>Part Name</b></ion-label>
                  <ion-input formControlName="PartName" type="text" required readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="stacked"><b>Description</b></ion-label>
                  <ion-input formControlName="Description" type="text" required readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <br/>
            <ion-row>
              <ion-col></ion-col>
              <ion-col></ion-col>
              <ion-col>
                <ion-button [routerLink]="['/tabs/search/part']" expand="block">Back</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </div>
          <ion-col>
            <ion-item>
              <img class="partImg" alt="No Image">
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
