<ion-header>
    <ion-toolbar>
      <a href="/tabs/home"><ion-img class="logo" style="width: 12vw; height: 12vh; padding: 0.2rem; margin-left: -1vw;" src="assets/icon/bmw-logo-2020-grey.png"></ion-img></a>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/tabs/view/client']">
          <ion-icon slot="icon-only" name="person" style="color: #002850;"></ion-icon>
        </ion-button>  
        <ion-button class="accBtn" (click)="authService.SignOut()" fill="solid" style="--background: #002850; --border-radius: 3rem; font-size: 0.7rem; margin-right: 1.5rem; width: 12vw;">
          Log Out
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="contents">
        <ion-title>
            <h1>Plan Details</h1>
        </ion-title>

        <form [formGroup]="planform">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked">Plan Name</ion-label>
                            <ion-input [(ngModel)]="data.planName" [ngModelOptions]="{standalone: true}" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked">Description</ion-label>
                            <ion-input [(ngModel)]="data.Description" [ngModelOptions]="{standalone: true}" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked">Duration</ion-label>
                            <ion-input [(ngModel)]="data.Duration" [ngModelOptions]="{standalone: true}" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label position="stacked">Price</ion-label>
                            <ion-input [(ngModel)]="data.Price" [ngModelOptions]="{standalone: true}" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                    <ion-col>
                        <ion-button [routerLink]="['/tabs/search/maintenaceplan']" expand="block">Back</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="light-Btn" (click)="navToUpdate()" expand="block">Upgrade Plan</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button type="submit" class="green-Btn" expand="block">Select Plan</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <button type="button" class="collapsible">Help Chat
        <ion-icon id="up" style="float: right; margin-top: 0.2em;" name="chevron-up-outline">
        </ion-icon>
        <ion-icon id="down" style="float: right; display: none; margin-top: 0.2em;" name="chevron-down-outline"></ion-icon>
      </button>
      <div class="content">
        <iframe style="border: none;"
          allow="microphone;"
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/9a6d9339-edec-4934-869e-c563312600c3">
        </iframe>
      </div>
</ion-content>